<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="footer-top-inner flex">
				<div class="footer-column">
					<h4 class="h4">Location</h4>
					<p><span class="opacity">3481 Melrose Place</span></p>
					<p><span class="opacity">Beverly Hills, CA 90210</span></p>
				</div>
				<div class="footer-column">
					<h4 class="h4">Share with love</h4>
					<div class="footer-socials">
						<a href="#facebook" class="social social-footer social-f"><i class="fab fa-facebook-f"></i></a>
						<a href="#twitter" class="social social-footer social-t"><i class="fab fa-twitter"></i></a>
						<a href="#linkedin" class="social social-footer social-l"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
				<div class="footer-column">
					<h4 class="h4">About activebox</h4>
					<p><span class="opacity">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p>
				<span class="opacity">Copyright © 2015 ActiveBox. All Rights Reserved</span>
			</p>
			<p>
				<span class="opacity">Made with</span><i class="fas fa-heart"></i> by Kamal Chaneman
			</p>
		</div>
	</div>
</footer>