<header class="header">
	<div class="container">
		<div class="header-inner flex">
			<div class="header-logo">
				<img src="img/logo.png" alt="logo">
			</div>
			<div class="touch-menu">
		    <div class="hamburger">
		      <div class="hamburger-icon"></div>
		    </div>
		  </div>
			<nav class="nav">
				<ul class="header-menu flex">
					<li class="header-item"><a href="#features">features</a></li>
					<li class="header-item"><a href="#works">works</a></li>
					<li class="header-item"><a href="#team">our team</a></li>
					<li class="header-item"><a href="#testimonials">testimonials</a></li>
					<li class="header-item"><a href="#download">download</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>